@charset "UTF-8";

/*  Style sheet for MyR32 site
    Class: CIS155
    Module: 4
    Author: Ryan Strassburg
    Date: 2021-02-01
*/

/* Main page layout */
html {
    min-width: 50em;
    max-width: 50em;
    margin: 0 auto;
}

/* Images layout */
/* M3LO2 Demonstrate floating elements (CSS, note where you have specified a floating element and what its impact is) */
img.imgMainArticle {
    max-width: 10em;
    float: left;    /* Float images within article to left of article text */
}

img.imgPageTitle {
    float: left;
    max-height: 3em;
}

img.imgInfo {
    float: left;
    /* limit height of image to fit panel */
    max-height: 15vh;
    max-width: 20vh;
}

img.imgBadge {
    height: 3vh;
}


/* Main page article */
article#aboutr32 {
    /* Make information panel 25% of the viewable height
       and non-scrollable. */
    display: block;
    float: left;
    max-height: 25vh;
    overflow: hidden;
}

div.infoPanel {
    /* Make divided section the same height as the article window
       so text/paragraph appears as a single item. Other
       items are hidden from the article viewport */
    height: 25vh;
}

figure.figBadges {
    float: none;
}

figcaption.figcapBadges {
    clear: both;
    text-align: center;
}


/* Page Navigation */
nav.siteNav {
    clear: both;
}

/* External Links */
section#ExternalLinks {
    margin-left: 0;
    width: 100%;
}

nav#external {
    background-color: black;
    float: left;
}

/* Body Layout */


footer {
    clear: both;
}


/* Images with caption */
section.mainAbout {
    /* M3LO3 Demonstrate a clearing floats
        This prevents the images from overflowing the section they reside in,
        allowing the next section to display correctly (centered)

        M3LO10 Demonstrate an overflow setting
    */
    overflow: hidden; 
}

figure img.Badges {
    max-height: 25px;
}

figcaption.Badges {
    text-align: center;
    color: black;
}

b.caption {
    text-decoration: underline;
}



/* TODO for V2 site:

* M3LO8A Demonstrate absolute positioning
* M3LO8B Demonstrate relative positioning
M3LO11 Demonstrate -prefix- style browser extensions use in CSS 
M4LO3 Demonstrate the use of rounded corners for borders
M4LO4 Demonstrate the use of gradients
* M4LO8 Demonstrate the use of transformations for 2D or 3D images

*/